.layout {
  > .ant-layout-header {
    display: flex;
    color: white;
    align-items: center;
    > img {
      width: 50px;
      height: 45px;
      margin-right: 8px;
    }
  }
  > .ant-layout-content {
    padding: 50px;
  }

  .title-content {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .search-content {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .ant-input-search {
      width: 40%;
      margin-right: 10px;
    }
  }
}